<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Enquiry</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>


<body>
	<div class="container">
		<h2>Add Enquiry</h2>


		<font style="color: red;">
			<p th:text="${emsg}"></p>
		</font>

		<font style="color: darkgreen;">
			<p th:text="${smsg}"></p>
		</font>

		<form th:action="@{/enquiry}" th:object="${enquiry}" method="post">
			<table>
				<tr>
					<td>Name</td>
					<td><input type="text" th:field="*{name}" required></td>
				</tr>
				<tr>
					<td>Phone</td>
					<td><input type="number" th:field="*{phone}" required></td>
				</tr>
				<!--<tr>
					<td>Class Mode:</td>
					<select th:field="*{classMode}">
						<option>-Select-</option>
						<option>Online</option>
						<option>Offline</option>
					</select>
				</tr>
				<tr>
					<td>Course:</td>
					<select th:field="*{course}">
						<option>-Select-</option>
						<option>Java</option>
						<option>Python</option>
						<option value="AWS">Aws</option>
					</select>
				</tr>
				<tr>
					<td>Status:</td>
					<select th:field="*{status}">
						<option>-Select-</option>
						<option>Open</option>
						<option>Lost</option>
						<option>Enrolled</option>
					</select>
				</tr>-->
				<tr>
					<td></td>
					<td><input type="submit" value="Submit" class="btn btn-link"></td>
				</tr>
			</table>
		</form>
		<a href="/" class="btn btn-link">Login here </a>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
		crossorigin="anonymous"></script>
</body>

</html>